In [ ]:
a="""Select * from student"""

In [2]:
print("Python's World")

Python's World

In [3]:
print("Hello \t Python")

Hello 	 Python

In [4]:
print("Hello \n Python")

Hello
 Python

In [5]:
print('Python\'s World')

Python's World

In [6]:
name="abc"
age="20"
marks="90.890002"
print("Name of the person is : ",name,"marks is : ",marks,"age is : ",age)

Name of the person is :  abc marks is :  90.890002 age is :  20

In [1]:
name="abc"
age=20
marks=90.890002
print("Name of the person is %s marks is %f age is %d"%(name,marks,age))

Name of the person is abc marks is 90.890002 age is 20

In [7]:
name="abc"
age=20
marks=90.890002
print("Name of the person is %10s marks is %10f age is %10d"%(name,marks,age))

Name of the person is        abc marks is  90.890002 age is         20

In [8]:
name="abc"
age=20
marks=90.890002
print("Name of the person is %10s marks is %10.2f age is %10d"%(name,marks,age))

Name of the person is        abc marks is      90.89 age is         20

In [9]:
name="abc"
age=20
marks=90.890002
print(f"Name of the person is {name} marks is {marks} age is {age}")

Name of the person is abc marks is 90.890002 age is 20

In [10]:
x=20
id(x)

140720488621040

In [11]:
y=20
id(y)

140720488621040

In [13]:
del x

NameError: name 'x' is not defined

In [14]:
y

20

In [15]:
10/2

5.0

In [16]:
10//2

5

In [17]:
a=240
b=1
a|b

241

In [18]:
a&b

0

In [19]:
a>20 or 10>9

True

In [20]:
10>9 and 20>M

NameError: name 'M' is not defined

In [21]:
10<9 and 20>M

False

In [22]:
not 10<9

True

In [23]:
not True

False

In [24]:
str1="python"
"o" in str1

True

In [25]:
"a" not in str1

True

In [26]:
a=10
b=10
a==b

True

In [27]:
a is b

True

In [28]:
x=1.5
y=1.5
x==y

True

In [29]:
x is y

False

In [30]:
id(x)

1705408611568

In [31]:
id(y)

1705408611376

In [32]:
10+10/20*4

12.0

In [33]:
2**-1

0.5